@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap");

.qualification_details {
  color: #fff;
  height: 100vh;
  margin: 0;
  /* border: .1px solid white;
    border-color: transparent; */
  background: linear-gradient(#2c2cc2, #55dd9d);
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}
.qualification_container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(252, 252, 252);
  padding-top: 120px;
  text-shadow: 2px 2px 4px #000000;
}
.qualification_content1 {
  border: 1px solid #fff;
  border-radius: 20px;
  width: 60vw;
  margin-top: 35px;
  display: flex;
  margin-left: 20%;
  justify-content: space-between;
  padding: 10px 30px;
}
.cgpa {
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress {
  margin-left: 20px;
}
.year-of-pass {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(112, 110, 109);
}
.content h1 {
  letter-spacing: 1px;
  font-family: "Alata", sans-serif;
  color: rgb(76, 125, 189);
}

.content p {
  color: coral;
  font-family: "Montserrat";
}
.content small {
  font-size: 18px;
  margin-top: 2px;
  font-family: "Alata", sans-serif;
}
