@import url("https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap");

.profileContent {
  color: #ffffff;
  position: relative;
  display: flex;
}
.objective {
  position: absolute;
  width: 55vw;
  top: 100px;
  left: 20px;
  font-family: "Montserrat", serif;
  letter-spacing: 1px;
  font-size: 19px;
  font-weight: 500;
  text-align: left;
  word-spacing: 2px;
  
}
.profileContent_container {
  position: absolute;
  margin-top: 30%;
  right: 180px;
}
.profileContent_container p {
  letter-spacing: 1px;
  text-align: left;
  padding-left: 3px;
  padding-top: 20px;
}

.profileContent_container h1 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}
.profileContent_container .cvBtn {
  color: #fff;
  background-color: tomato;
  font-size: 14px;
  padding: 10px 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  border-radius: 4px;
  transition: all 1s;
  margin-right: 20px;
  font-weight: 600;
}
.profileContent_container .workBtn {
  color: #ffffff;
  border: 1px solid rgb(86, 207, 228) !important;
  background-color: transparent;
  font-size: 14px;
  padding: 9px 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  cursor: pointer;
  margin-left: 30px;
  border-radius: 4px;
  transition: all 1s;
  font-weight: 600;
}
.profileContent_container .cvBtn:hover {
  background-color: #b665db;
  color: rgb(8, 8, 8);
  font-weight: 600;
  transition: all 1s;
}
.profileContent_container .workBtn:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
  transition: all 1s;
  font-weight: 600;
}
